# NetBeans specific #
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

# Maven build files
target
*.log
maven-eclipse.xml
build.properties
site-content
*~

# Class Files #
*.class

# Package Files #
*.jar
*.war
*.ear